<div data-ride="carousel" class="carousel slide" id="carousel-example-generic" data-interval="5000">
    <div role="listbox" class="carousel-inner">
        <div class="item active">
            <img alt="" data-src="" src="~/Pictures/imageCaroussel/caroussel_1.jpg" data-holder-rendered="true" class="img-caroussel">
        </div>
        <div class="item">
            <img alt="" data-src="" src="~/Pictures/imageCaroussel/caroussel_2.jpg" data-holder-rendered="true" class="img-caroussel">
        </div>
        <div class="item">
            <img alt="   " data-src="" src="~/Pictures/imageCaroussel/caroussel_4.jpg" data-holder-rendered="true" class="img-caroussel">
        </div>
        <div class="item">
            <img alt="" data-src="" src="~/Pictures/imageCaroussel/caroussel_5.jpg" data-holder-rendered="true" class="img-caroussel">
        </div>
        <div class="item">
            <img alt="" data-src="" src="~/Pictures/imageCaroussel/caroussel_6.jpg" data-holder-rendered="true" class="img-caroussel">
        </div>
        <div class="item">
            <img alt="" data-src="" src="~/Pictures/imageCaroussel/caroussel_7.jpg" data-holder-rendered="true" class="img-caroussel">
        </div>
        <div class="item">
            <img alt="" data-src="" src="~/Pictures/imageCaroussel/caroussel_8.jpg" data-holder-rendered="true" class="img-caroussel">
        </div>
    </div>
</div>
