@{
    ViewBag.Title = "See the beautiful";
}


@section scripts{
    <script src="~/Scripts/JQVMap/jquery.vmap.min.js"></script>
    <script src="~/Scripts/JQVMap/jquery.vmap.world.js"></script>
    <script src="~/Scripts/JQVMap/continents/jquery.vmap.north-america.js"></script>
    <script src="~/Scripts/JQVMap/continents/jquery.vmap.africa.js"></script>
    <script src="~/Scripts/JQVMap/continents/jquery.vmap.asia.js"></script>
    <script src="~/Scripts/JQVMap/continents/jquery.vmap.australia.js"></script>
    <script src="~/Scripts/JQVMap/continents/jquery.vmap.europe.js"></script>
    <script src="~/Scripts/JQVMap/continents/jquery.vmap.south-america.js"></script>
    <script src="~/Scripts/JQVMap/jquery.vmap.sampledata.js"></script>
    <script src="~/Scripts/Home/Index.js"></script>
}

@section SearchForm{
    @Html.Action("Index", "Search")
}

<div class="row">

    @Html.Partial("_HomeCaroussel")

</div>

@* Zone définissant la carte cliquable du monde *@

<div class="row">
    <div class="map-header">
        Choissisez votre destination :
    </div>
    <div class="search-map text-center" id="idVmapWorld"></div>
    @using (Html.BeginForm("Pays", "Home", FormMethod.Post, new { id = "idFormMap" }))
    {
        <input type="hidden" id="idPaysChoice" name="PaysChoice" />
    }
</div>

