@model List<DataLayer.Model.Croisieres>

@{
    ViewBag.Title = "Pays";
}

@section scripts{
    <script src="~/Scripts/Home/Index.js"></script>
}

@* Zone définissant la carte cliquable du monde *@

<div class="row">
    <div class="map-header">
        Choissisez votre destination :
    </div>
    @using (Html.BeginForm("PaysSearch", "Home", FormMethod.Post, new { id = "idFormPays" }))    {
        <select>
            @foreach (var item in @Model)           {
                <option value=@item.Ports.IdPort>@item.Ports.Nom</option>
            }
        </select>
    }
</div>

<div class="row">
    @{
       var listSuggestedDest = @Model.Take(1);
       foreach (var item in listSuggestedDest) {
           @Html.Action("TopSixCroisieres", "Home", new {idCroisiere = @item.IdCroisiere})
    }
    }
</div>