@model List<DataLayer.Model.Themes>
@{
    ViewBag.Title = "Index";
}


<div class="row">
    @foreach (var theme in @Model)
    {
        <b>@theme.Libelle</b>
        <div >
            @Html.Action("CroisieresParTheme", "Themes", new  { id = theme.IdTheme })
        </div>
    }

</div>
