@model List<DataLayer.Model.Themes>
@{
    ViewBag.Title = "Destination par Themes";
}

@section scripts{
<script src="~/Scripts/Shared/SharedScript.js"></script>
    <script src="~/Scripts/Themes/IndexThemesScript.js"></script>
}

@foreach (var theme in @Model)
{
    <div class="row">
        <div class="theme-header">@theme.Libelle</div>
        @foreach (var crs in theme.Croisieres)
        {
            @Html.Action("CroisieresParTheme", "Themes", new { id = crs.IdCroisiere })
        }
    </div>
}

@using (Html.BeginForm("Details", "Destinations", FormMethod.Post, new { id = "idFormDestination" }))
{
    <input type="hidden" id="idCroisiereChoice" name="DestinationChoice" />
}
