@model List<DataLayer.Model.Croisieres>

<div class="body-content">
    <div class="alert-dismissible">
        
        <div class="affix">
            <strong>Top promo !!</strong>
            <ul>
                @foreach (var item in @Model)
                {
                    
                    <li class="center-block">
                            <img src="~/Uploads/Bateaux/@item.Photo" class="img-circle" height="40" width="60" />
                       
                            <span>@item.Ports.Nom</span>
                       
                    </li>
                    <li class="center-block">
                        <span>- @item.Promos.Reduction %</span>
                    </li>
                    <text>...........</text>
                }
            </ul>

        </div>

    </div>

</div>
