@model List<DataLayer.Model.Croisieres>
@{
    ViewBag.Title = "Index";
}

<h2>Nos promotions</h2>

<div class="row">
    @foreach (var item in @Model)
    {
        <div >
            @Html.Action("AllPromotions", "Promotions", new { id = item.IdCroisiere })
        </div>
    }
    

</div>
