@model  List<DataLayer.Businesslayer.StatCroisieres>

@section script{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="~/Scripts/Statistiques/StatsScript.js"></script>
}

@{
    ViewBag.Title = "Statistique de visite des croisières";
}

<div class="vue-title">
    Statistique de fréquentation des Croisières
</div>
<div id="graph">

</div>
