@{
    ViewBag.Title = "Statistique de visites des croisières";
}

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="~/Areas/Admin/Script/StatsScript.js"></script>
}

<div class="vue-title">
    Statistique de fréquentation des Croisières
</div>
<div id="graph"></div>
