@model List<DataLayer.Model.Croisieres>

@{
    ViewBag.Title = "Résultat de la recherche";
}

@section scripts{
    <script src="~/Scripts/Shared/SharedScript.js"></script>
}

<div class="row">
    Résultat
</div>

<div class="row">
    @foreach (var croisiere in Model)
    {
        @Html.Action("AllCroisieres", "Destinations", new { id = croisiere.IdCroisiere })
    }
</div>

@using (@Html.BeginForm("Details", "Destinations", FormMethod.Post, new { id = "idFormDestination" }))
{
    <input type="hidden" id="idCroisiereChoice" name="DestinationChoice" />
}

