@model Form112.Models.SearchViewModel


@{
    ViewBag.Title = "Sélections de Croisières";
}
@section SearchForm {
    @Html.Action("Index", "Search", new { ssvm = Model.XmlSearchViewModel });
}

@section scripts{
    
    <script src="~/Scripts/Destinations/IndexScript.js"></script>
}

<div class="row">
    Destinations
</div>

<div class="row">
    @foreach (var croisiere in Model.Result)
    {
        @Html.Action("AllCroisieres", "Destinations", new { id = croisiere.IdCroisiere })
    }
</div>

@using (@Html.BeginForm("Details", "Destinations", FormMethod.Post, new { id = "idFormDestination" }))
{
    <input type="hidden" id="idCroisiereChoice" name="DestinationChoice" />
}

