@model DataLayer.Model.Croisieres

<div class="destination-panel"> @*id="@Model.IdCroisiere">*@
    <img src="#" alt="Alternate Text" class="panel-img" />
    <div class="panel-header">
        @*@Model.Pays.Nom*@
        pays
    </div>
    <div class="panel-main">
        <div class="price-legend">
            Croisières à partir de
        </div>
        <div class="price-body">
            @*@Model.Prix*@* <span class="currency-fr">€</span>
        </div>
    </div>
    <div class="panel-end">
       - @*@Model.Promo.Reduction*@ Promo %
    </div>

</div>