@model DataLayer.Model.Commentaires
@using Form112.Infrastructure
@using System.Text

<div class="comment-container col-sm-10" id="@Model.IdCommentaire">
    @{
        StringBuilder sb = new StringBuilder();
        int count = 0;
      }
    @AfficherReponsesCommentaire(Model, sb, count)
    @Html.Raw(sb.ToString());
</div>

@functions{
    /// <summary>
    /// Méthode récursive pour gérer l'affichage des commentaires selon s'il s'agit de réponse à un précedent commentaire ou d'un nouveau commentaire.
    /// Construit une chaîne de caractère à l'aide d'un StringBuilder.
    /// </summary>
    /// <param name="commentaire"></param>
    /// <param name="sb"></param>
    /// <param name="count"></param>
    /// <returns>un StringBuilder</returns>
    MvcHtmlString AfficherReponsesCommentaire(DataLayer.Model.Commentaires commentaire, StringBuilder sb, int count)
    {
        sb.Append(Html.CommentaireHelper(commentaire.NomCommentaire, commentaire.DateCommentaire.ToShortDateString(), commentaire.Commentaire, count));
        foreach (var comment in commentaire.Commentaires1)
        {
            AfficherReponsesCommentaire(comment, sb, count+1);
        }
        return new MvcHtmlString("");
    }
}

